!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en", "data-images" => "waiting", "data-overlay" => ""}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		%main{:role => "main", "data-container" => "width_1420"}

			%section
				= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render
				= Haml::Engine.new(File.read("dev/haml/partials/_html_article.haml")).render
				= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_loader.haml")).render
		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render